<div class="">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Added Reports</li>
    </ol>
  </nav>
  <h2 class="header-style">EyeWitness | All Added Reports</h2>
  <hr>

  <div class="row">
    <div class="form-group col-md-4">
      <label>Search filter</label>
      <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search..." class="form-control" />
    </div>

    <div class="form-group col-md-3">
      <label>Start Date</label>
      <input type="date" name="search" [(ngModel)]="startDate" placeholder="Search" class="form-control" />
    </div>

    <div class="form-group col-md-3">
      <label>End Date</label>
      <input type="date" name="search" [(ngModel)]="endDate" placeholder="Search" class="form-control" />
    </div>

    <div class="form-group col-md-2">
      <button class="btn btn-md btn-primary" (click)="filterDate(startDate, endDate)" type="button">Submit</button>
    </div>
  </div>

  <div class="row mat-elevation-z8" *ngIf="!loading">

    <button class="form-group btn btn-primary btn-md btn-block" style="margin: 0 1%;" (click)="exportexcel()">Export to Excel</button>
    <hr><br>

    <div class="row container form-group" *ngIf="checkRange == 'yes'">
      <p style="color: green;font-weight: bold;font-size: large;margin-top: 2%;">Displaying data from {{ startDate |
        date }} to {{ endDate | date }}</p>
    </div>
    <table id="excel-table"
      class="table table-hover table-center mb-0 responsive table-responsive table-striped raw-materials"
      *ngIf="userResults">
      <thead>
        <tr>
          <th>Type of violation</th>
          <th>Location</th>
          <th>Date Reported</th>

          <th>Forced Displacement (Number of people that have been forcibly displaced?)</th>
          <th>Forced Displacement (Have they been offered alternative places to stay?)</th>
          <th>Forced Displacement (Have they been offered alternative places to stay (Optional description))</th>

          <th>Exposure to pollutants (Type of pollution)</th>
          <th>Exposure to pollutants (Source of pollution)</th>
          <th>Exposure to pollutants (Optional description of source of pollution)</th>
          <th>Exposure to pollutants (Number of people exposed)</th>
          <th>Exposure to pollutants (Responsible company)</th>

          <th>Loss of land or economic assets (Economic assets that have been lost)</th>
          <th>Loss of land or economic assets (Responsible company)</th>
          <th>Loss of land or economic assets (Number of families affected)</th>

          <th>Desecration of cultural heritage sites (Number of sites desecrated)</th>
          <th>Desecration of cultural heritage sites (Who desecrated them?)</th>

          <th>Torture, intimidation and harassment (Type of torture, intimidation, harassment)</th>
          <th>Torture, intimidation and harassment (Other type of harassment)</th>
          <th>Torture, intimidation and harassment (Group of affected people)</th>
          <th>Torture, intimidation and harassment (Who did this ?)</th>
          <th>Torture, intimidation and harassment (Involved company)</th>
          <th>Torture, intimidation and harassment (Reason)</th>

          <th>Reduced freedom of movement (Involved company)</th>

          <th>Limited access to water (Involved company)</th>

          <th>Forced and unpaid labour (Involved company)</th>

          <th>Child labour (Involved company)</th>
          <th>Child labour (Number of children involved)</th>

          <th>Sexual violence (Affected people)</th>
          <th>Sexual violence (Type)</th>
          <th>Sexual violence (company involved)</th>
          <th>Sexual violence (who did this)</th>

          <th>Murder or killings (Group of people)</th>
          <th>Murder or killings (Number of people)</th>
          <th>Murder or killings (How they died)</th>
          <th>Murder or killings (How they died description)</th>
          <th>Murder or killings (Company involved)</th>

          <th>Description of what happened</th>

          <th>Reporter's phone number</th>
          <th>Reporter's address</th>
          <th>Reporter's email</th>

          <!-- location -->
          <th>Name of Area</th>
          <th>Province</th>
          <th>District</th>
          <th>Ward name</th>
          <th>Victim details</th>
          <th>Perpetrator details</th>
          <th>Images</th>
          <th>Videos</th>
          <th>Audios</th>
          <th>View</th>

        </tr>
      </thead>
      <tbody class="details">

        <tr *ngFor="let m of userResults  | filter: searchText | slice: (page-1) * pageSize : page * pageSize">
          <td>
            <p>{{ m.type_of_violation }}</p>
          </td>

          <td>
            <p>{{ m.location }}</p>
          </td>

          <td>
            <p>{{ m.date_reported | date }} {{ m.date_reported | date: "shortTime" }}</p>
          </td>

          <!-- new stuff -->
          <!-- forced -->
          <td>
            <p>{{ m.fd_how_many_removed }}</p>
          </td>
          <td>
            <p>{{ m.fd_alternative_place }}</p>
          </td>
          <td>
            <p>{{ m.fd_alternative_place_description }}</p>
          </td>

          <!-- Exposure -->
          <td>
            <p>{{ m.ep_what_kind }}</p>
          </td>
          <td>
            <p>{{ m.ep_source }}</p>
          </td>
          <td>
            <p>{{ m.ep_source_description }}</p>
          </td>
          <td>
            <p>{{ m.ep_num_people_exposed }}</p>
          </td>
          <td>
            <p>{{ m.ep_who_is_responsible }}</p>
          </td>


          <td>
            <p>{{ m.ll_assests_lost }}</p>
          </td>
          <td>
            <p>{{ m.ll_who_is_responsible }}</p>
          </td>
          <td>
            <p>{{ m.ll_families_affected }}</p>
          </td>


          <td>
            <p>{{ m.dc_how_many_graves }}</p>
          </td>
          <td>
            <p>{{ m.dc_who_desecrated_them }}</p>
          </td>


          <td>
            <p *ngFor="let i of m.ti_type">{{ i }}</p>
          </td>
          <td>
            <p>{{ m.ti_other }}</p>
          </td>

          <td>
            <p>{{ m.ti_groups_affected }}</p>
          </td>
          <td>
            <p>{{ m.ti_who_did_this }}</p>
          </td>

          <td>
            <p>{{ m.ti_company_involved }}</p>
          </td>
          <td>
            <p>{{ m.ti_the_reason }}</p>
          </td>

          <!-- new stuff -->
          <td>
            <p>{{ m.rf_company_involved }}</p>
          </td>
          <td>
            <p>{{ m.la_company_involved }}</p>
          </td>
          <td>
            <p>{{ m.fu_company_involved }}</p>
          </td>
          <td>
            <p>{{ m.cl_company_involved }}</p>
          </td>
          <td>
            <p>{{ m.cl_number_of_children }}</p>
          </td>

          <td>
            <p>{{ m.sv_affected_people }}</p>
          </td>
          <td>
            <p>{{ m.sv_type }}</p>
          </td>
          <td>
            <p>{{ m.sv_company_involved }}</p>
          </td>
          <td>
            <p>{{ m.sv_who_did_this }}</p>
          </td>
          <td>
            <p>{{ m.mk_groups_of_persons }}</p>
          </td>
          <td>
            <p>{{ m.mk_number_of_people }}</p>
          </td>
          <td>
            <p>{{ m.mk_how_they_died }}</p>
          </td>
          <td>
            <p>{{ m.mk_murder_other }}</p>
          </td>
          <td>
            <p>{{ m.mk_company_involved }}</p>
          </td>
          <td>
            <p>{{ m.what_happened }}</p>
          </td>
          <td>
            <p>{{ m.reporter_phone }}</p>
          </td>
          <td>
            <p>{{ m.reporter_address }}</p>
          </td>
          <td>
            <p>{{ m.reporter_email }}</p>
          </td>
          <td>
            <p>{{ m.name_of_area }}</p>
          </td>
          <td>
            <p>{{ m.province }}</p>
          </td>
          <td>
            <p>{{ m.district }}</p>
          </td>
          <td>
            <p>{{ m.ward_name }}</p>
          </td>

          <td>
            <p *ngFor="let i of m.collection_vp['victims']">{{ i.victim_age }}, {{ i.victim_gender }}, {{ i.victim_description }}</p>
          </td>

          <td>
            <p *ngFor="let i of m.collection_vp['perpetrator']">{{ i.description_of_perpetrator }}, {{ i.perpetrator_age }}</p>
          </td>

          <td>
            <p *ngFor="let i of m.media_files['images']"><a target="_blank" download="{{i.file}}" href="{{i.file}}">{{ i.name }}</a>,</p>
          </td>

          <td>
            <p *ngFor="let i of m.media_files['videos']"><a target="_blank" download="{{i.file}}" href="{{i.file}}">{{ i.name }}</a>,</p>
          </td>

          <td>
            <p *ngFor="let i of m.media_files['audios']"><a target="_blank" download="{{i.file}}" href="{{i.file}}">{{ i.name }}</a>,</p>
          </td>



          <td>
            <button [routerLink]=" ['viewreport', m.id]" class="btn btn-success">
              <i class="fa fa-play"></i>
            </button>&nbsp;
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="userResults" class="col-sm-12 row d-flex justify-content-center">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userResults.length">
      </ngb-pagination>
    </div>
    <!-- all participants -->
  </div>

  <div *ngIf="loading" class="text text-center myloader">
    <img height="200" width="auto" src="assets/images/tenor.gif">
    <div class="text">
      Loading....
    </div>
  </div>
</div>