<div class="">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Added Reports</li>
    </ol>
  </nav>
  <h2 class="header-style">All Added Reports</h2>
  <hr>

  <div class="row">
    <div class="form-group col-md-5">
                <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search" class="form-control" />
            </div>

            <!-- <div class="col-md-2 justify-content-end">
                <button [routerLink]="['new']" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                </button>
            </div> -->
  </div>

  <div class="row mat-elevation-z8" *ngIf="!loading">
    <table class="table table-hover table-center mb-0 responsive table-responsive table-striped raw-materials" *ngIf="userResults">
      <thead>
        <tr>
          <th>Type of violation</th>
          <th>Location</th>
          <th>What happened</th>
          <th>Description of perpetrator</th>
          <th>Date Reported</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody class="details">

        <tr
          *ngFor="let m of userResults  | filter: searchText | slice: (page-1) * pageSize : page * pageSize">
          <td>
            <p>{{ m.type_of_violation }}</p>
          </td>
          
          <td>
            <p>{{ m.location }}</p>
          </td>
          <td>
            <p>{{ m.what_happened }}</p>
          </td>
          <td>
            <p>{{ m.description_of_perpetrator }}</p>
          </td>
          <td>
            <p>{{ m.date_reported | date }} {{ m.date_reported | date: "shortTime" }}</p>
          </td>
          
          <td>
            <button [routerLink]=" ['viewreport', m.id]" class="btn btn-success">
              <i class="fa fa-play"></i>
            </button>&nbsp;
          </td>
        </tr>
      </tbody>
    </table>
    
    <div *ngIf="userResults" class="col-sm-12 row d-flex justify-content-center">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userResults.length">
      </ngb-pagination>
    </div>
    <!-- all participants -->
  </div>

  <div *ngIf="loading" class="text text-center myloader">
    <img height="200" width="auto" src="assets/images/tenor.gif">
    <div class="text">
      Loading....
    </div>
  </div>
</div>
