<div class="">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">All Users</li>
        </ol>
    </nav>
    <h2 class="header-style">All Registered Users...</h2>
    <hr>

    <div class="row">
        <div class="form-group col-md-6">
            <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search" class="form-control" />
        </div>
    </div>

    <div class="row mat-elevation-z8" *ngIf="!loading">
        <table class="table table-hover table-center mb-0 responsive table-striped raw-materials" *ngIf="userResults">
            <thead>
                <tr>
                    <th>Username</th>
                    <!-- <th>Full name</th> -->
                    <th>Email</th>
              
                    <th>is_superuser</th>
                    <th>is_active</th>
                    <th>Date Joined</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>

                <tr class="details" *ngFor="let m of userResults  | filter: searchText | slice: (page-1) * pageSize : page * pageSize">
                    <td>
                        <p>{{ m.username }}</p>
                    </td>
                    <!-- <td>
                        <p>{{ m.first_name }} {{ m.last_name }}</p>
                    </td> -->
                    <td>
                        <p>{{ m.email }}</p>
                    </td>

                   
                    <td>
                        <p>{{ m.is_superuser }}</p>
                    </td>
                    <td>
                        <p>{{ m.is_active }}</p>
                    </td>
                    <!-- <td *ngIf="is_active == false">
                        <p>{{ "No" }}</p>
                    </td> -->
                    <td>
                        <p>{{ m.timestamp | date }} {{ m.timestamp | date: "shortTime" }}</p>
                    </td>
                    <td>
                        <button [routerLink]=" ['details', m]" class="btn btn-success">
                            <i class="fa fa-play"></i>
                        </button>&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="userResults" class="col-sm-12 row d-flex justify-content-center">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userResults.length">
            </ngb-pagination>
        </div>
        <!-- all participants -->
    </div>

    <div *ngIf="loading" class="text text-center myloader">
        <img height="200" width="auto" src="assets/images/tenor.gif">
        <div class="text">
            Loading....
        </div>
    </div>
</div>