
<div class="">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
      </ol>
    </nav>
    <h2 class="header-style">About Us</h2>
    <hr>
  
    <div class="row mat-elevation-z8">
        <div class="container">
            <h1>OUR VISION</h1>
            <p>Justice and dignity for communities affected by extractive industries</p><br><hr>
    
            <h1>OUR MISSION</h1>
            <p>To defend, protect and support communities affected by extractive industries through research, community empowerment and community driven advocacy</p><br><hr>
    
            <h1>OUR CORE VALUES</h1>
            <p>1. Non-Discriminatory</p><br>
            <p>2. Accountability and Transparency </p><br>
            <p>3. Inclusiveness</p><br>
        </div>
    </div>
  
  </div>
  